<a href="https://colab.research.google.com/github/Brent-Morrison/Misc_scripts/blob/master/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Using pySpark in Google Colab**

Installations

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-eu.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark
!pip install pyarrow

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (0.14.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.17.5)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.12.0)

Set the environment variables so that Colab can find Spark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

Add pyspark to sys.path

PySpark isn't on sys.path by default, but that doesn't mean it can't be used as a regular library. You can address this by either symlinking pyspark into your site-packages, or adding pyspark to sys.path at runtime. [findspark](https://github.com/minrk/findspark) does the latter.

In [0]:
import findspark
findspark.init()

Create the Spark session

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Test everything is working by creating a test dataframe

In [0]:
test_df = spark.createDataFrame([{"hello": "world"} for x in range(100)])

test_df.printSchema()
test_df.show(3)

root
 |-- hello: string (nullable = true)

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

/content/spark-2.4.5-bin-hadoop2.7/python/pyspark/sql/session.py:346: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

Get a feather file from github.

The intention was to be implement this using PyArrow however  [it looks like](https://issues.apache.org/jira/browse/ARROW-6998?filter=-6) that won't happen.

[This](https://github.com/pandas-dev/pandas/issues/29055) workaround seems to be the way to go.

In [0]:
# Not working
# import pyarrow as pa
# fin_data = pa.feather.read_feather('https://github.com/Brent-Morrison/hugo_website/blob/master/content/post/ifrs9_part2.feather')

# Working
import pandas as pd
import requests
import io
resp = requests.get('https://github.com/Brent-Morrison/hugo_website/raw/master/content/post/ifrs9_part2.feather', stream = True)
resp.raw.decode_content = True
mem_fh = io.BytesIO(resp.raw.read())
fin_data = pd.read_feather(mem_fh)
fin_data.head()

  Ticker     me.date  ... TotalDebt        ECL
0      A  2016-12-31  ...    1887.0  11.691196
1      A  2017-01-31  ...    1887.0  32.852229
2      A  2017-02-28  ...    1887.0  34.309091
3      A  2017-03-31  ...    2043.0  38.319819
4      A  2017-04-30  ...    2043.0  33.507803

[5 rows x 6 columns]

Check data type

In [0]:
fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236 entries, 0 to 24235
Data columns (total 6 columns):
Ticker        24236 non-null object
me.date       24236 non-null object
clust.name    24236 non-null object
RiskStage     24236 non-null float64
TotalDebt     24236 non-null float64
ECL           24236 non-null float64
dtypes: float64(3), object(3)
memory usage: 1.1+ MB

The date column 'me.date' has been imported as on object instead of a date.  This needs to be changed before converting to a PySpark dataframe.

In [0]:
fin_data['me.date'] = pd.to_datetime(fin_data['me.date']) 
fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236 entries, 0 to 24235
Data columns (total 6 columns):
Ticker        24236 non-null object
me.date       24236 non-null datetime64[ns]
clust.name    24236 non-null object
RiskStage     24236 non-null float64
TotalDebt     24236 non-null float64
ECL           24236 non-null float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.1+ MB

We now convert to a Spark dataframe

In [0]:
fin_data_spark = spark.createDataFrame(fin_data)

fin_data_spark.printSchema()

root
 |-- Ticker: string (nullable = true)
 |-- me.date: timestamp (nullable = true)
 |-- clust.name: string (nullable = true)
 |-- RiskStage: double (nullable = true)
 |-- TotalDebt: double (nullable = true)
 |-- ECL: double (nullable = true)

Rename columns

In [0]:
fin_data_spark.withColumnRenamed('Ticker','cust') \
  .withColumnRenamed('clust.name','unit') \
  .withColumnRenamed('RiskStage','stage') \
  .withColumnRenamed('TotalDebt','gca') \
  .withColumnRenamed('ECL','ecl').printSchema()

root
 |-- cust: string (nullable = true)
 |-- me.date: timestamp (nullable = true)
 |-- unit: string (nullable = true)
 |-- stage: double (nullable = true)
 |-- gca: double (nullable = true)
 |-- ecl: double (nullable = true)

In [0]:
from pyspark.sql import functions as F
from pyspark.sql import Window as W

fin_data_spark.withColumnRenamed('me.date','date') \
  .withColumnRenamed('Ticker','cust') \
  .withColumnRenamed('clust.name','unit') \
  .withColumnRenamed('RiskStage','stage') \
  .withColumnRenamed('TotalDebt','gca') \
  .withColumnRenamed('ECL','ecl') \
  .withColumn('ccy', F.when(F.col('cust').startswith('G'), 'GBP').otherwise('USD')) \
  .withColumn('type', F.when(F.col('cust').startswith('R'), 'rvlv').otherwise('term')) \
  .withColumn('poci', F.when(F.col('cust').startswith('P'), 'Y').otherwise('N')) \
  .withColumn('bal', F.col('gca')) \
  .withColumn('ecl', F.col('ecl') * -1) \
  .withColumn('wof', F.lit(0)) \
  .withColumn('pryr', F.lit(0)) \
  .withColumn('prlt', F.lit(0)) \
  .withColumn('ctgy', 
              F.when((F.col('wof') != F.lit(0)) & (F.col('poci') == 'N'), F.lit(3)) \
              .when((F.col('wof') != F.lit(0)) & (F.col('poci') == 'Y'), F.lit(5)) \
              .when((F.col('wof') != F.lit(0)) & (F.isnull(F.col('poci'))), F.lit(3)) \
              .when((F.col('stage') == F.lit(0)) & (F.col('poci') == 'N'), F.lit(1)) \
              .when((F.col('stage') == F.lit(1)) & (F.col('poci') == 'N'), F.lit(2)) \
              .when((F.col('stage') == F.lit(2)) & (F.col('poci') == 'N'), F.lit(3)) \
              .when((F.isnull(F.col('stage'))) & (F.col('poci') == 'N'), F.lit(1)) \
              .when((F.col('stage') == F.lit(0)) & (F.col('poci') == 'Y'), F.lit(4)) \
              .when((F.col('stage') == F.lit(1)) & (F.col('poci') == 'Y'), F.lit(4)) \
              .when((F.col('stage') == F.lit(2)) & (F.col('poci') == 'Y'), F.lit(5)) \
              .when((F.isnull(F.col('stage'))) & (F.col('poci') == 'Y'), F.lit(4)) \
              .when((F.col('stage') == F.lit(1)) & (F.isnull(F.col('poci'))), F.lit(1)) \
              .when((F.col('stage') == F.lit(2)) & (F.isnull(F.col('poci'))), F.lit(2)) \
              .when((F.col('stage') == F.lit(3)) & (F.isnull(F.col('poci'))), F.lit(3)) \
              .otherwise(F.lit(1))) \
              .withColumn('gca_op', F.lag('gca', 1).over(W.partitionBy('cust').orderBy('date'))) \
              .withColumn('bal_op', F.lag('bal', 1).over(W.partitionBy('cust').orderBy('date'))) \
              .withColumn('ecl_op', F.lag('ecl', 1).over(W.partitionBy('cust').orderBy('date'))) \
  .filter(F.col('CTGY') == F.lit(4)).head(10)
  #https://stackoverflow.com/questions/50113504/how-to-use-spark-lag-and-lead-over-group-by-and-order-by

[Row(cust='PKI', date=datetime.datetime(2016, 12, 31, 0, 0), unit='oa.ta_nca.ta_rev.ta_da.ta', stage=1.0, gca=1012.885, ecl=-5.559857880434761, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=None, bal_op=None, ecl_op=None),
 Row(cust='PKI', date=datetime.datetime(2017, 1, 31, 0, 0), unit='oa.ta_nca.ta_td.ta_da.ta', stage=1.0, gca=1012.885, ecl=-6.155803211252653, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-5.559857880434761),
 Row(cust='PKI', date=datetime.datetime(2017, 2, 28, 0, 0), unit='oa.ta_nca.ta_td.ta_da.ta', stage=1.0, gca=1012.885, ecl=-13.972673625792892, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-6.155803211252653),
 Row(cust='PKI', date=datetime.datetime(2017, 3, 31, 0, 0), unit='oa.ta_nca.ta_td.ta_da.ta', stage=1.0, gca=1012.885, ecl=-16.038242826780035, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-13.972673625792892),
 Row(cust='PKI', date=datetime.datetime(2017, 4, 30, 0, 0), unit='oa.ta_nca.ta_td.ta_da.ta', stage=1.0, gca=1012.885, ecl=-16.07497956475584, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-16.038242826780035),
 Row(cust='PKI', date=datetime.datetime(2017, 5, 31, 0, 0), unit='oa.ta_nca.ta_td.ta_da.ta', stage=1.0, gca=1012.885, ecl=-14.026208773784436, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-16.07497956475584),
 Row(cust='PKI', date=datetime.datetime(2017, 6, 30, 0, 0), unit='oa.ta_nca.ta_td.ta_da.ta', stage=1.0, gca=1012.885, ecl=-17.293158536585416, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-14.026208773784436),
 Row(cust='PKI', date=datetime.datetime(2017, 7, 31, 0, 0), unit='oa.ta_rev.vol_da.ta_rev.ta', stage=1.0, gca=1012.885, ecl=-15.356304257528564, ccy='USD', type='term', poci='Y', bal=1012.885, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-17.293158536585416),
 Row(cust='PKI', date=datetime.datetime(2017, 8, 31, 0, 0), unit='oa.ta_rev.vol_da.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-14.948942857142864, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1012.885, bal_op=1012.885, ecl_op=-15.356304257528564),
 Row(cust='PKI', date=datetime.datetime(2017, 9, 30, 0, 0), unit='oa.ta_rev.vol_da.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-5.324493665628233, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-14.948942857142864),
 Row(cust='PKI', date=datetime.datetime(2017, 10, 31, 0, 0), unit='oa.ta_rev.vol_da.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-4.369154201244806, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-5.324493665628233),
 Row(cust='PKI', date=datetime.datetime(2017, 11, 30, 0, 0), unit='oa.ta_rev.vol_da.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-3.7024886880165204, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-4.369154201244806),
 Row(cust='PKI', date=datetime.datetime(2017, 12, 31, 0, 0), unit='oa.ta_rev.vol_da.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-4.6676678423236435, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-3.7024886880165204),
 Row(cust='PKI', date=datetime.datetime(2018, 1, 31, 0, 0), unit='oa.ta_rev.vol_np.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-6.218515163934392, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-4.6676678423236435),
 Row(cust='PKI', date=datetime.datetime(2018, 2, 28, 0, 0), unit='oa.ta_rev.vol_np.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-15.514495910020427, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-6.218515163934392),
 Row(cust='PKI', date=datetime.datetime(2018, 3, 31, 0, 0), unit='oa.ta_rev.vol_np.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-15.73936437371653, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-15.514495910020427),
 Row(cust='PKI', date=datetime.datetime(2018, 4, 30, 0, 0), unit='oa.ta_rev.vol_np.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-15.760719467213008, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-15.73936437371653),
 Row(cust='PKI', date=datetime.datetime(2018, 5, 31, 0, 0), unit='oa.ta_rev.vol_np.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-6.186820387359807, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-15.760719467213008),
 Row(cust='PKI', date=datetime.datetime(2018, 6, 30, 0, 0), unit='oa.ta_rev.vol_np.ta_rev.ta', stage=1.0, gca=1046.426, ecl=-5.515961003070636, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-6.186820387359807),
 Row(cust='PKI', date=datetime.datetime(2018, 7, 31, 0, 0), unit='oa.ta_nca.ta_rev.vol_da.ta', stage=1.0, gca=1046.426, ecl=-6.461680550000005, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-5.515961003070636),
 Row(cust='PKI', date=datetime.datetime(2018, 8, 31, 0, 0), unit='oa.ta_nca.ta_rev.vol_da.ta', stage=1.0, gca=1046.426, ecl=-17.94469312063799, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-6.461680550000005),
 Row(cust='PKI', date=datetime.datetime(2018, 9, 30, 0, 0), unit='oa.ta_nca.ta_rev.vol_da.ta', stage=1.0, gca=1046.426, ecl=-16.60245455455452, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-17.94469312063799),
 Row(cust='PKI', date=datetime.datetime(2018, 10, 31, 0, 0), unit='oa.ta_nca.ta_rev.vol_da.ta', stage=1.0, gca=1046.426, ecl=-22.782548048047875, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-16.60245455455452),
 Row(cust='PKI', date=datetime.datetime(2018, 11, 30, 0, 0), unit='oa.ta_nca.ta_rev.vol_da.ta', stage=1.0, gca=1046.426, ecl=-22.782548048047875, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-22.782548048047875),
 Row(cust='PKI', date=datetime.datetime(2018, 12, 31, 0, 0), unit='oa.ta_nca.ta_rev.vol_da.ta', stage=1.0, gca=1046.426, ecl=-22.782548048047875, ccy='USD', type='term', poci='Y', bal=1046.426, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=1046.426, bal_op=1046.426, ecl_op=-22.782548048047875),
 Row(cust='PPG', date=datetime.datetime(2016, 12, 31, 0, 0), unit='np.ta_oa.ta_da.ta_rev.vol', stage=1.0, gca=4404.0, ecl=-59.83695652173888, ccy='USD', type='term', poci='Y', bal=4404.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=None, bal_op=None, ecl_op=None),
 Row(cust='PPG', date=datetime.datetime(2017, 1, 31, 0, 0), unit='np.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=4404.0, ecl=-19.28503184713376, ccy='USD', type='term', poci='Y', bal=4404.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4404.0, bal_op=4404.0, ecl_op=-59.83695652173888),
 Row(cust='PPG', date=datetime.datetime(2017, 2, 28, 0, 0), unit='np.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=4416.0, ecl=-19.139112050740007, ccy='USD', type='term', poci='Y', bal=4416.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4404.0, bal_op=4404.0, ecl_op=-19.28503184713376),
 Row(cust='PPG', date=datetime.datetime(2017, 3, 31, 0, 0), unit='np.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=4416.0, ecl=-57.48777895855479, ccy='USD', type='term', poci='Y', bal=4416.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4416.0, bal_op=4416.0, ecl_op=-19.139112050740007),
 Row(cust='PPG', date=datetime.datetime(2017, 4, 30, 0, 0), unit='np.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=4421.0, ecl=-58.89973460721868, ccy='USD', type='term', poci='Y', bal=4421.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4416.0, bal_op=4416.0, ecl_op=-57.48777895855479),
 Row(cust='PPG', date=datetime.datetime(2017, 5, 31, 0, 0), unit='np.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=4421.0, ecl=-67.99741014799197, ccy='USD', type='term', poci='Y', bal=4421.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4421.0, bal_op=4421.0, ecl_op=-58.89973460721868),
 Row(cust='PPG', date=datetime.datetime(2017, 6, 30, 0, 0), unit='np.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=4421.0, ecl=-23.44114528101809, ccy='USD', type='term', poci='Y', bal=4421.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4421.0, bal_op=4421.0, ecl_op=-67.99741014799197),
 Row(cust='PPG', date=datetime.datetime(2017, 7, 31, 0, 0), unit='rev.vol_np.ta_da.ta_nca.ta', stage=1.0, gca=4617.0, ecl=-24.45140186915883, ccy='USD', type='term', poci='Y', bal=4617.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4421.0, bal_op=4421.0, ecl_op=-23.44114528101809),
 Row(cust='PPG', date=datetime.datetime(2017, 8, 31, 0, 0), unit='rev.vol_np.ta_da.ta_nca.ta', stage=1.0, gca=4617.0, ecl=-24.972903726708044, ccy='USD', type='term', poci='Y', bal=4617.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4617.0, bal_op=4617.0, ecl_op=-24.45140186915883),
 Row(cust='PPG', date=datetime.datetime(2017, 9, 30, 0, 0), unit='rev.vol_np.ta_da.ta_nca.ta', stage=1.0, gca=4617.0, ecl=-27.208177570093373, ccy='USD', type='term', poci='Y', bal=4617.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4617.0, bal_op=4617.0, ecl_op=-24.972903726708044),
 Row(cust='PPG', date=datetime.datetime(2017, 10, 31, 0, 0), unit='rev.vol_np.ta_da.ta_nca.ta', stage=1.0, gca=4705.0, ecl=-28.796161825726074, ccy='USD', type='term', poci='Y', bal=4705.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4617.0, bal_op=4617.0, ecl_op=-27.208177570093373),
 Row(cust='PPG', date=datetime.datetime(2017, 11, 30, 0, 0), unit='rev.vol_np.ta_da.ta_nca.ta', stage=1.0, gca=4705.0, ecl=-26.24690082644621, ccy='USD', type='term', poci='Y', bal=4705.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4705.0, bal_op=4705.0, ecl_op=-28.796161825726074),
 Row(cust='PPG', date=datetime.datetime(2017, 12, 31, 0, 0), unit='rev.vol_np.ta_da.ta_nca.ta', stage=1.0, gca=4705.0, ecl=-24.647562240663852, ccy='USD', type='term', poci='Y', bal=4705.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4705.0, bal_op=4705.0, ecl_op=-26.24690082644621),
 Row(cust='PPG', date=datetime.datetime(2018, 1, 31, 0, 0), unit='td.ta_ncl.ta_nca.ta_rev.vol', stage=1.0, gca=4705.0, ecl=-73.51562499999947, ccy='USD', type='term', poci='Y', bal=4705.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4705.0, bal_op=4705.0, ecl_op=-24.647562240663852),
 Row(cust='PPG', date=datetime.datetime(2018, 2, 28, 0, 0), unit='td.ta_ncl.ta_nca.ta_rev.vol', stage=1.0, gca=4146.0, ecl=-72.70337423312847, ccy='USD', type='term', poci='Y', bal=4146.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4705.0, bal_op=4705.0, ecl_op=-73.51562499999947),
 Row(cust='PPG', date=datetime.datetime(2018, 3, 31, 0, 0), unit='td.ta_ncl.ta_nca.ta_rev.vol', stage=1.0, gca=4146.0, ecl=-77.04579055441421, ccy='USD', type='term', poci='Y', bal=4146.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4146.0, bal_op=4146.0, ecl_op=-72.70337423312847),
 Row(cust='PPG', date=datetime.datetime(2018, 4, 30, 0, 0), unit='td.ta_ncl.ta_nca.ta_rev.vol', stage=1.0, gca=4146.0, ecl=-91.33094262295005, ccy='USD', type='term', poci='Y', bal=4146.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4146.0, bal_op=4146.0, ecl_op=-77.04579055441421),
 Row(cust='PPG', date=datetime.datetime(2018, 5, 31, 0, 0), unit='td.ta_ncl.ta_nca.ta_rev.vol', stage=1.0, gca=4146.0, ecl=-84.31467889908193, ccy='USD', type='term', poci='Y', bal=4146.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=4146.0, bal_op=4146.0, ecl_op=-91.33094262295005),
 Row(cust='PPG', date=datetime.datetime(2018, 8, 31, 0, 0), unit='ncl.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=5218.0, ecl=-111.33120638085677, ccy='USD', type='term', poci='Y', bal=5218.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=5218.0, bal_op=5218.0, ecl_op=-280.7284000000002),
 Row(cust='PPG', date=datetime.datetime(2018, 9, 30, 0, 0), unit='ncl.ta_td.ta_nca.ta_rev.vol', stage=1.0, gca=5218.0, ecl=-116.7390390390381, ccy='USD', type='term', poci='Y', bal=5218.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=5218.0, bal_op=5218.0, ecl_op=-111.33120638085677),
 Row(cust='PM', date=datetime.datetime(2017, 2, 28, 0, 0), unit='td.ta_ncl.ta_oa.ta_da.ta', stage=1.0, gca=29067.0, ecl=-537.7087737843591, ccy='USD', type='term', poci='Y', bal=29067.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=29067.0, bal_op=29067.0, ecl_op=-1484.2066878980893),
 Row(cust='PM', date=datetime.datetime(2017, 3, 31, 0, 0), unit='td.ta_ncl.ta_oa.ta_da.ta', stage=1.0, gca=29067.0, ecl=-534.3879914984064, ccy='USD', type='term', poci='Y', bal=29067.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=29067.0, bal_op=29067.0, ecl_op=-537.7087737843591),
 Row(cust='PM', date=datetime.datetime(2017, 4, 30, 0, 0), unit='td.ta_ncl.ta_oa.ta_da.ta', stage=1.0, gca=31346.0, ecl=-1520.7135881104032, ccy='USD', type='term', poci='Y', bal=31346.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=29067.0, bal_op=29067.0, ecl_op=-534.3879914984064),
 Row(cust='PM', date=datetime.datetime(2017, 5, 31, 0, 0), unit='td.ta_ncl.ta_oa.ta_da.ta', stage=1.0, gca=31346.0, ecl=-541.7622621564519, ccy='USD', type='term', poci='Y', bal=31346.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=31346.0, bal_op=31346.0, ecl_op=-1520.7135881104032),
 Row(cust='PM', date=datetime.datetime(2017, 6, 30, 0, 0), unit='td.ta_ncl.ta_oa.ta_da.ta', stage=1.0, gca=31346.0, ecl=-566.7542948038192, ccy='USD', type='term', poci='Y', bal=31346.0, wof=0, pryr=0, prlt=0, ctgy=4, gca_op=31346.0, bal_op=31346.0, ecl_op=-541.7622621564519)]

**References**

Setup

https://colab.research.google.com/github/asifahmed90/pyspark-ML-in-Colab/blob/master/PySpark_Regression_Analysis.ipynb

https://support.treasuredata.com/hc/en-us/articles/360034951753-TD-Python-Spark-Driver-with-Google-Colab

https://medium.com/@sushantgautam_930/apache-spark-in-google-collaboratory-in-3-steps-e0acbba654e6

https://mikestaszel.com/2018/03/07/apache-spark-on-google-colaboratory/

https://mc.ai/practical-data-science-with-apache-spark%E2%80%8A-%E2%80%8Apart-1/

https://github.com/verakai/DS/blob/master/flight_delays.ipynb

https://gist.github.com/ryansmccoy/09b285525789bb355a15249aaeab7498

https://sparkbyexamples.com/